:root {
  --card-color: #eef1f2ff;
  --header-height: 75px;
  --main-text-title-on-dark-color: #1c242b;
  --main-text-on-dark-color: #384551;
  --main-text-on-light-color: #bcbfc2;
}

@font-face {
  font-family: "Lato-regular";
  src: url("../fonts/lato-regular.woff2") format("woff2"),
    url("../fonts/lato-regular.woff") format("woff");
  font-weight: regular;
  font-style: regular;
  font-display: swap; /* Улучшает отображение при загрузке */
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
  font-display: swap; /* Улучшает отображение при загрузке */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-text-on-light-color);
  background-color: rgb(75, 81, 87);
  font-family: "Lato-regular", sans-serif;
}

section {
  margin-bottom: 30px;
}

.dark_text {
  color: var(--main-text-on-dark-color);
}

.dark_title {
  color: var(--main-text-title-on-dark-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
}

.logo_svg {
  height: var(--header-height);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
}

.header_logo-title {
  display: flex;
  font-size: 55px;
  gap: 10px;
}

.header_logo-title:visited {
  color: inherit;
}

.header_logo-partOne {
  color: #384551;
}

.header_logo-partTwo {
  color: var(--main-text-on-light-color);
}

.header_dateAndLog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section_nav {
  background-color: rgb(38, 45, 51);
  min-height: 100px;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  min-height: 15px;
}

.nav_list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* ========================== */
/*    main-content preview    */
/* ========================== */
.content {
  background: linear-gradient(
    rgb(38, 45, 51) 10%,
    rgb(38, 45, 51) 10%,
    rgb(75, 81, 87) 80%
  );
}

.card_preview {
  display: flex;
  max-width: 1140px;
  min-height: 570px;
  background-color: var(--card-color);
  border-radius: 15px;
}

.content_preview-img {
  max-width: 870px;
  width: 100%;
  height: 570px;
}

.card_preview-img {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 0 0 50px;

  background-size: cover;
  transition: background-image 0.3s ease;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card_preview-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 13, 87, 0.5),
    rgba(0, 11, 94, 0.3)
  );

  z-index: 1;
  pointer-events: none;
  border-radius: 15px 0 0 15px;
}

.card_preview-author-card {
  position: relative;
  display: flex;
  max-width: 100%;
  min-height: 50px;
  gap: 5px;
  z-index: 2;
}

.card_preview-author-avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.card_preview-author-name {
  color: var(--main-text-on-light-color);
}

.card_preview-author-category {
  color: var(--main-text-on-light-color);
  font-size: 12px;
}

.card_preview-author-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-preview-news-title-link {
  display: block;
  height: 0px;
}

.card-preview-news-title {
  position: relative;
  top: 135px;
  padding-right: 15px;
  font-size: 32px;
  color: var(--main-text-on-light-color);
  z-index: 2;
}

.card-preview-news-title:hover,
:active,
:focus {
  color: #cccccc;
}

.card-preview-news-title:active,
:focus {
  color: #cccccc;
}

.card-preview-news-title:focus {
  color: #cccccc;
}

.content_preview-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 30%;
  padding: 10px 10px 0 10px;
}

.content_preview-title > h3 {
  font-size: 14px;
  color: rgba(38, 45, 51, 1);
}
.card-preview_news-item {
  background-color: var(--card-color);
  transition: background-color 0.3s ease;
}

.card-preview_news-item:hover {
  background-color: var(--card-color);
}

.card-preview_news-item:focus {
  background-color: var(--card-color);
}

.card-preview_news-item:active {
  background-color: var(--card-color);
}

.card-preview_news-category > h3 {
  margin-bottom: 15px;
  font-size: 12px;
  color: rgb(55, 64, 72);
}

.card-preview_news-item-link > h2 {
  font-size: 12px;
}

.content_preview-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 10px;
}

/* ========================== */
/*         news-cards         */
/* ========================== */

.news-card_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.news-card_card {
  max-width: 555px;
  width: 100%;
  min-height: 370px;
  height: 100%;
  background-color: var(--main-text-on-light-color);
  border-radius: 15px;
}

.news-card_card-ctegory {
  position: relative;
  color: #5085b6;
  top: 15px;
  left: 15px;
}

.news-card_card {
  position: relative;
  background-size: cover;
}

.news-card_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(252 254 255 / 90%);
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.news-card_card:hover::before {
  background-color: rgb(252 254 255 / 70%);
}

.news-card_card-title {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 350px;
  height: 50px;
  left: 15px;
  top: 50px;
  color: #384551;
  transition: color 0.3s ease;
}

.news-card_card-title:hover {
  color: #707d89;
}

.news-card_card-title:active {
  color: #707d89;
}
.news-card_card-title:focus {
  color: #707d89;
}

.news-card_card-text-preview {
  position: relative;
  color: black;
  max-width: 350px;
  left: 15px;
  top: 70px;
}

.news-card_card-author {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 50px;
  left: 15px;
  top: 155px;
}

.news-card_card-author-avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.news-card_card-author-name {
  position: relative;
  color: black;
  padding-left: 15px;
}

/* ========================== */
/*            baner           */
/* ========================== */

.section_banner {
  width: 99vw;
  height: 200px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      ellipse at center,
      transparent -50%,
      rgb(75, 81, 87) 50%
    ),
    url("../img/cube.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.news_quote {
  color: #cccccc;
  font-family: "RobotoSlab-Bold" sans-serif;
  font-style: "bold";
}

/* ========================== */
/*           possts           */
/* ========================== */

.posts_list {
  width: 1140px;
  height: 100%;
}

.posts_list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--card-color);
  border-radius: 15px;
}

.posts_item {
  display: flex;
  flex-direction: row;
  min-height: 300px;
}

.posts_item:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 15px;

  box-shadow: 0 2px 0 #9f9f9f;
}

.posts_preview-img {
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px;
}

.posts_data {
  width: 50%;
  margin-left: 30px;
}

.posts_catigory {
  margin-bottom: 15px;
}

.posts_title {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--main-text-on-dark-color);
}

.posts_title:hover {
  color: #6a747e;
}

.posts_text {
  color: #7b7a7a;
}

/* ========================== */
/*           footer           */
/* ========================== */

.footer {
  min-height: 100px;
  background-color: hwb(208 15% 80%);
}

.footer_info {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  width: 100%;
}

.footer_author {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer_logo {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/logo.svg");
  background-size: cover;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote_concept {
  max-width: 50%;
}

.home_back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: var(--main-text-on-light-color);
  background-color: var(--main-text-on-dark-color);
}
