<div class="container">
  <div class="go-to-home-and-back">
    <%- include('components/buttonBack.ejs') %>
    <h1 class="main_title" style="color: <%=color%>"><%= title || '' %></h1>
    <%- include('components/buttonGoToHome.ejs') %>
  </div>
</div>
