<footer class="footer">
  <div class="container">
    <div class="footer_info">
      <div class="footer_author">
        <span class="footer_darkBytes">DarkBytes &copy;</span>
        <span class="footer_darkBytes-author"
          >MIT License Copyright &copy; 2025 LoydVP</span
        >
      </div>
      <p class="quote_concept">
        «DarkBytes — новости с обратной стороны экрана. Где правда искажена,
        ложь оформлена как пресс-релиз, а главная новость дня — это видео, где
        кот уронил кактус. Мы не врём. Мы просто смотрим в другую реальность.»
      </p>
      <div class="footer_contacts">
        <a href="#" class="footer_logo"></a>
        <a href="mailto:" class="fooret_mail">darkBytes@mail.com</a>
      </div>
      <p class="lecense_content">
        Все тексты на этом сайте являются авторскими. &copy; LoydVP, 2025.
        Использование материалов разрешено только с указанием авторства и
        ссылкой на сайт. Лицензия:
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
          >CC BY-NC-ND 4.0</a
        >.
      </p>
    </div>
  </div>
</footer>
