<footer class="footer">
  <div class="container">
    <div class="footer_info">
      <div class="footer_author">
        <span class="footer_darkBytes">DarkBytes &copy;</span>
        <span class="footer_darkBytes-author">LoydVP</span>
      </div>
      <p class="quote_concept">
        «DarkBytes — новости с обратной стороны экрана. Где правда искажена,
        ложь оформлена как пресс-релиз, а главная новость дня — это видео, где
        кот уронил кактус. Мы не врём. Мы просто смотрим в другую реальность.»
      </p>
      <div class="footer_contacts">
        <a href="#" class="footer_logo"></a>
        <a href="mailto:" class="fooret_mail">darkBytes@mail.com</a>
      </div>
    </div>
  </div>
</footer>
